# Frontend
node_modules/
dist/
dist-ssr/
*.local

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
src-tauri/*.db
src-tauri/*.dat
Cargo.lock

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
